<div [class]="isTableFilter ? 'filter-wrapper' : 'form-select-wrapper'" #wrapper>
    <select [ngModel]="value" (ngModelChange)="onValueChange($event); wrapper.classList.remove('open')"
        (click)="wrapper.classList.toggle('open')" (blur)="onTouched(); wrapper.classList.remove('open')"
        [class]="isTableFilter ? 'table-filter' : 'form-select'" [class.account-filter]="isAccountFilter"
        [disabled]="disabled" [name]="name" [id]="id">
        @if (placeholder) {
        <option [ngValue]="placeholderValue" [disabled]="placeholderDisabled">{{ placeholder }}</option>
        }
        @for (opt of options; track opt.label) {
        <option [ngValue]="opt.value" [disabled]="opt.disabled">{{ opt.label }}</option>
        }
    </select>
    <i class="fa-solid fa-angle-down select-arrow-down"></i>
    <i class="fa-solid fa-angle-up select-arrow-up"></i>
</div>