@media (min-width: 1200px) {
    .action-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media (max-width: 1199px) and (min-width: 900px) {
    .action-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 899px) and (min-width: 600px) {
    .action-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .action-grid {
        grid-template-columns: 1fr;
    }
}