<div class="container">
  <div class="card">
    <h1>Login</h1>
    <p class="subtitle">Access your account</p>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>

      <div class="form-group">
        <label>Email Address <span class="required">(required)</span></label>
        <input type="email" name="email" [(ngModel)]="formData.email" #emailCtrl="ngModel" required email>

        @if (emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)) {
        <div class="message error inline">
          @if (emailCtrl.errors?.['required']) {
          Email is required
          }
          @if (emailCtrl.errors?.['email']) {
          Enter a valid email address
          }
        </div>
        }
      </div>

      <div class="form-group margin-top-15">
        <label>Password <span class="required">(required)</span></label>
        <input type="password" name="password" [(ngModel)]="formData.password" #passwordCtrl="ngModel" required>

        @if (passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)) {
        <div class="message error inline">
          Password is required
        </div>
        }
      </div>


      <!-- Backend message -->
      @if (message) {
      <div class="message full-width" [ngClass]="messageType">
        {{ message }}
      </div>
      }

      <div class="btn-container margin-top-20">
        <button type="submit" class="btn is-primary full-width-btn" [disabled]="loading || loginForm.invalid">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>
      </div>
    </form>

    <p class="link-text center-text">
      Don't have an account?
      <a routerLink="/register">Register here</a>
    </p>
  </div>
</div>