<div class="container">
  <div class="card">
    <h2>Pending Approvals</h2>

    <div class="message" [ngClass]="messageType" [style.display]="message ? 'block' : 'none'">
      {{ message }}
    </div>

    @if (accounts.length === 0) {
    <p class="empty-text">No pending approvals.</p>
    } @else {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (acc of paginatedAccounts; track acc.id) {
        <tr>
          <td>{{ acc.id }}</td>
          <td>{{ acc.holderName }}</td>
          <td>{{ acc.email }}</td>
          <td>
            <button class="btn is-primary" (click)="openConfirm(acc.id, 'approve')" [disabled]="loading">
              Approve
            </button>
            &nbsp;&nbsp;
            <button class="btn is-danger" (click)="openConfirm(acc.id, 'reject')" [disabled]="loading">
              Reject
            </button>

          </td>
        </tr>
        }
      </tbody>
    </table>

    <app-pagination [totalItems]="accounts.length" [pageSize]="pageSize" [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </app-pagination>
    }
    <!-- <button class="btn is-secondary" routerLink="/admin">Dashboard</button> -->
  </div>
</div>

@if (showConfirm) {
<app-confirm-dialog title="Confirm Action"
  message="Are you sure you want to {{ confirmAction }} this account registration?"
  confirmText="Yes, {{ confirmAction }}" cancelText="Cancel" [type]="confirmAction === 'approve' ? 'primary' : 'danger'"
  (confirm)="confirmActionExecute()" (cancel)="closeConfirm()">
</app-confirm-dialog>
}