<!-- <div class="navbar">
  <h2>Money Transfer System</h2>
  <div>
    <span>{{ holderName }}</span>
    <button class="btn btn-small" (click)="logout()">Logout</button>
  </div>
</div> -->

<div class="container">
  <div class="card">

    <div class="dashboard-header">
      <h1>Welcome, {{ holderName }}</h1>
      <app-profile></app-profile>
    </div>

    <div class="balance-card">
      @if (hasMultipleAccounts) {
      <p>No. of Accounts: <strong>{{ accountCount }}</strong></p>
      <p>Total Balance: <strong>₹{{ totalBalance }}</strong></p>
      } @else {
      <p>Account ID: <strong>{{ accountId }}</strong></p>
      <p>Current Balance: <strong>₹{{ balance }}</strong></p>
      }
      <p>Reward Points: <strong>{{ totalPoints }}</strong></p>
    </div>



    <div class="action-grid">

      <div routerLink="transfer" routerLinkActive="active" #rla1="routerLinkActive" class="action-card"
        [class.active]="rla1.isActive">

        <div class="action-icon">
          <i class="fa-solid fa-money-bill-transfer"></i>
        </div>

        <h3>Transfer Money</h3>
        <p>Send funds securely to another account</p>

      </div>

      <div routerLink="transactions" routerLinkActive="active" #rla2="routerLinkActive" class="action-card"
        [class.active]="rla2.isActive">

        <div class="action-icon">
          <i class="fa-regular fa-clock"></i>
        </div>

        <h3>Transaction History</h3>
        <p>View all credits and debits</p>

      </div>

      <div routerLink="rewards" routerLinkActive="active" #rla3="routerLinkActive" class="action-card"
        [class.active]="rla3.isActive">

        <div class="action-icon">
          <i class="fa-solid fa-gift"></i>
        </div>

        <h3>Rewards</h3>
        <p>View earned reward points</p>

      </div>

      @if (hasMultipleAccounts) {
      <div routerLink="linked-accs" routerLinkActive="active" #rla4="routerLinkActive" class="action-card"
        [class.active]="rla4.isActive">

        <div class="action-icon">
          <i class="fa-solid fa-link"></i>
        </div>

        <h3>Linked Accounts</h3>
        <p>View your linked accounts</p>

      </div>
      }

    </div>

  </div>
</div>

<router-outlet></router-outlet>