<div class="container">
  <div class="card">
    <div class="section-header">
      <div class="title-group">
        <h2>All Transactions</h2>
      </div>
      <button class="btn is-secondary" (click)="resetFilters()">
        Reset Filters
        <i class="fa-solid fa-rotate-left"></i>
      </button>
    </div>

    @if (transactions.length === 0) {
    <p class="empty-text">No transactions yet.</p>
    } @else {
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>
              <div class="th-filter">
                <span>Date</span>

                <app-dropdown [(ngModel)]="filters.dateRange" (selectionChange)="applyFilters()" [options]="dateOptions"
                  [isTableFilter]="true">
                </app-dropdown>
              </div>
            </th>

            <th>
              <div class="th-filter">
                <span>Type</span>
                <app-dropdown [(ngModel)]="filters.transactionType" (selectionChange)="applyFilters()"
                  [options]="typeOptions" [isTableFilter]="true">
                </app-dropdown>
              </div>
            </th>

            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>
              <div class="th-filter">
                <span>Status</span>

                <app-dropdown [(ngModel)]="filters.status" (selectionChange)="applyFilters()" [options]="statusOptions"
                  [isTableFilter]="true">
                </app-dropdown>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          @if (paginatedTransactions.length === 0) {
          <tr>
            <td colspan="6" class="text-center">
              <p class="empty-text">No transactions found.</p>
            </td>
          </tr>
          } @else {
          @for (tx of paginatedTransactions; track tx.id) {
          <tr>
            <td>{{ tx.createdOn | customDate:true:true }}</td>

            <td>
              <span class="badge {{ tx.transactionType.toLowerCase() }}">
                {{ tx.transactionType }}
              </span>
            </td>

            <td>{{ tx.fromAccountId || 'N/A' }}</td>
            <td>{{ tx.toAccountId || 'N/A' }}</td>

            <td>₹{{ formatAmount(tx.amount) }}</td>

            <td>
              <span class="badge {{ tx.status.toLowerCase() }}">
                {{ tx.status }}
              </span>
            </td>
          </tr>
          }
          }
        </tbody>
      </table>

      <app-pagination [totalItems]="filteredTransactions.length" [pageSize]="pageSize" [currentPage]="currentPage"
        (pageChange)="onPageChange($event)">
      </app-pagination>

    </div>
    }

    <br>
    <!-- <button class="btn is-secondary" routerLink="/admin">Dashboard</button> -->
  </div>
</div>